/*
002642
840032
e59500
e5dada
02040f
*/

* {
    padding: 0;
    margin: 0;
}

html,body {
    height: 100%;
    font-family: 'Marmelad', sans-serif;
    font-family: 'Source Code Pro', monospace;
}

body {
    background-color: #e59500;
    display: flex;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    background-color: #02040f;
    border-radius: 12px;
}

.grid-child {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    background-color: #E5DADA;
    color: #02040f;
    border-radius: 12px;
}

.crossed {
    background-color: #840032;
    color: #e5dada;
}
.ooed {
    background-color:#002642;
    color: #e59500
}

@media (min-width: 360px) {
    body {
        flex-direction: column;
    }

    header {
        text-align: center;
        padding-top: 3rem ;
    }

    section {
        
        flex-grow: 1;
        gap: 0.5rem;
        margin: 4rem 1rem 1rem 1rem;
        box-shadow: 5px 5px 43px 0px #000000;

    }

    footer {
        padding-top: 4rem;
        text-align: center;
    }
}

@media (min-width: 768px
) {


    header {
        padding: 4rem 3rem;
        h1 {
            font-size: 2.5rem;
        }
        span {
            font-size: 1.5rem;
        }
    }
    section {
        margin: 4rem 1rem;
    }
    .grid-child {
        font-size: 12rem;
        font-stretch: 400%;
        padding: 0;
        margin: 0;
    }

}

@media (min-width: 1440px) {
    body {
        flex-direction: row;

    }

    header {
        flex-direction: column;
        h1 {
            display: flex;
            flex-direction: column;
        }


    }

    section {
        
    }
}